<h4>
    Aktuelle Meldungen
</h4>
<ul>
    <li> Raumverlegung: 24-04-2019, Der Seminar 1 finden heute im Raum AE-3.34</li>
    <li> Seminar Ausfall: 05-05-2019, Der Seminar 3 fällt heute aus</li>
    <li> Seminar Anmeldung: 01-04-2019, Die Anmeldung für alle seminar ist am 30-04-2019</li>
</ul>