<div id="navContainer">
    <a href="seminarliste">Seminare Liste</a>
    <a href="Medienliste">Medien Liste</a>
    <a href="Detail_Seminar1">Detail Seminar</a>
    <a href="detaill_SeminarLeiter1">Detail Seminatleiter</a>
    <a href="New_Seminar"> Seminar anlegen</a>
    <a href="New_Medium"> Medium anlegen</a>
</div>