<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css"
          href="css/myStyle.css">
    <link rel="stylesheet" type="text/css"
          href="css/dashboard.css">
</head>
<body id="dashBody">
    <%- include("includes/header.ejs") %>
    <main id="dashMain">
        <a href="Medienliste">Medien Liste</a>
        <a href="seminarliste">Seminar Liste</a>
        <a href="Detail_Seminar1">Seminar Details</a>
        <a href="detaill_SeminarLeiter1">Seminar Leiter</a>
        <a href="New_Seminar">Neue Seminar Anlegen</a>
    </main>
    <footer id="dashFooter">
        <em>Copyright</em>
    </footer>
</body>
<script src="js/dashboard.js"> </script>
<script src="js/tictac.js"> </script>
</html>