*{
    font-family: Helvetica,Arial,sans-serif;
}

header {
    color: darkorange;
}

input:required {
    background-color: gainsboro;
}

span.required::after{
    content: "(erforderliche Eingabe)";
    color: darkgray;
}
input:invalid {
    color: red;
}
input:valid {
    color: forestgreen;
}
aside {
    background-color: darkkhaki;
}

nav a[href]:hover {
    color: green;
}

#semTable  thead {
    background-color: cadetblue;
}

#semTable tbody tr:nth-child(odd){
    background-color: lightskyblue;

}
#semTable tbody tr:nth-child(even){
    background-color: dodgerblue;

}

[href^="mailto"]::before {
    content: url("../Bilder/email.png");
    background-size: 10px 20px;
    width: 10px;
    height: 20px;
}

/* Praktikum 6   */

/*Prak6 Aufg 2 */
aside {
    padding: 3px;
    margin: 3px;
    border: 2px dotted;
}
/*Prak6 Aufg 3 */
fieldset legend {
    border: 1px solid black;
    border-radius: 10px;
    font-style: italic;
    background-color: blue;
    color: white;
    margin: 5px;
    padding: 5px;
}

/*Prak6 Aufg 4 */
header h1 {
    text-shadow: 3px 3px 1px darkgray ;
    letter-spacing: 0.3em;
}

/*Prak6 Aufg 5 */
section {
    border-left: 2px solid gray;
    padding-left: 5px;
}


